@charset "UTF-8";

* {
  margin: 0;
  padding: 0; }



body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*使用无衬线字体*/ }

a, img {
  -webkit-touch-callout: none;
  /*禁止长按链接与图片弹出菜单*/ }



button,  optgroup, select, textarea {
  -webkit-appearance: none;
  /*去掉webkit默认的表单样式*/ }

a, button,  optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent;
  /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/ }



body {
  -webkit-text-size-adjust: 100% !important;
  /*禁止IOS调整字体大小*/ }

input::-webkit-input-speech-button {
  display: none;
  /*隐藏Android的语音输入按钮*/ }

a {
  text-decoration: none; }

.wrap{
	   width:100%;
	   height:100%;
	 
	   position:relative;
}
.nav{
	width:100%;
	background:#1e81d2;
	height:3.125rem;
}

.user_photo{
	     height:4.225rem;
	     width:3.775rem;
	     margin:0 auto;
	     position:relative;
	     text-align:center;
	     margin-top:6.975rem;
	     margin-bottom:2.825rem;

}
.photo_border{

	    width:3.775rem;
	    height:4.225rem;
	    position:absolute;
        left:0px;
        top:0px;
        z-index:10;

}
.photo_core{
	    width:3.775rem;
	    height:4.225rem;
	    position:absolute;
	    left:0px;
	    top:0px;
	    z-index:1;
}



.upper_part{
       
}
.menu_box{
	   width:50%;
	   height:5.275rem;
	   border:1px solid #c8c8c8;
	   box-sizing:border-box;
	   text-align:center;
	   float:left;
}

.changeBox {
       width:100%;
       text-align:center;
       margin-top:5.125rem; 
}
.changeBox input{
	   width:11.275rem;
	   height:1.35rem;
	   font-size:0.7rem;
	   border:1px solid #e5e5e5;
	   border-radius:0.2rem;
	   background:url(../images/changePW.jpg) no-repeat center;
	   background-size:cover;
	   box-shadow: 3px 3px 6px #e6e6e6;
	   margin-bottom:0.85rem;
	   padding-left:1.75rem;
	   outline:none;
}
.confrim{
	 width:13.025rem;
	 height:1.35rem;
	 text-align:center;
	 background:url(../images/cm.jpg) repeat-x center;
	 background-size:contain;
	 border-radius:0.2rem;
	 margin:0 auto;
	 line-height:1.35rem;
	 font-size:0.7rem;
	 color:white;
	 margin-top:2.15rem;
}



