@charset "UTF-8";

* {
  margin: 0;
  padding: 0; }



body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*使用无衬线字体*/ }

a, img {
  -webkit-touch-callout: none;
  /*禁止长按链接与图片弹出菜单*/ }



button,  optgroup, select, textarea {
  -webkit-appearance: none;
  /*去掉webkit默认的表单样式*/ }

a, button,  optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent;
  /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/ }



body {
  -webkit-text-size-adjust: 100% !important;
  /*禁止IOS调整字体大小*/ }

input::-webkit-input-speech-button {
  display: none;
  /*隐藏Android的语音输入按钮*/ }

a {
  text-decoration: none; }

.wrap{
	   width:100%;
	   height:100%;
	 
	   position:relative;
	   overflow:scroll;
}
.nav{
	width:100%;
	background:#1e81d2;
	height:3.125rem;
}
/* .nav_title{
	   width:15rem;
	   height:0.8rem;
	   margin:0 auto;
	   position:relative;
	   text-align:center;
	    padding-top:1.75rem;
	    background:#1e81d2;

}
.nav_title a{ 
      display:block;
      height:0.8rem;
      width:0.8rem;

}
.nav_title a img{
	   height:0.8rem;
	   width:0.8rem;

}
.back{
	float:left;

}
.user_head{
	  float:right;
}
.title_name{
	    width:30%;
        text-align:center;
        height:0.8rem;
        position:absolute;
       
        font-size:0.8rem;
        color:white;
        font-family:"黑体";

} */
.user_photo{
	     height:4.225rem;
	     width:3.775rem;
	     margin:0 auto;
	     position:relative;
	     text-align:center;
	     margin-top:2.8rem;
	     margin-bottom:0.5rem;

}
.photo_border{

	    width:3.775rem;
	    height:4.225rem;
	    position:absolute;
        left:0px;
        top:0px;
        z-index:10;

}
.photo_core{
	    width:3.775rem;
	    height:4.225rem;
	    position:absolute;
	    left:0px;
	    top:0px;
	    z-index:1;
}



.upper_part{
       
}
.menu_box{
	   width:50%;
	   height:5.275rem;
	   border:1px solid #c8c8c8;
	   box-sizing:border-box;
	   text-align:center;
	   float:left;
}






.options{
	   width:100%;
	   position:relative;
}
.item{
	  width:14rem;
	  height:1.425rem;
	  border:1px solid #e5e5e5;
	  margin:0 auto;
	  background:url(../images/ap1p_10.png) repeat-x center;
	  margin-bottom:0.6rem;
	  border-radius:0.2rem;
	  position:relative;
}

.toSubmit{
	  width:14rem;
	  height:1.75rem;
	  background:#1e81d2;
	  margin:0 auto;
	  font-size:0.7rem;
	  line-height:1.75rem;
	  text-align:center;
	  color:white;  
}
.item input[type="button"]{

	 position:absolute;
	 top:0;
	 right:0;
	 width:1.675rem;
	 height:100%;
	 border:none;
	 background:url(../images/ap1p_21.png) no-repeat center;
	 
}

.item .unit{
	  float:right;
	  height:100%;
	  line-height:1.425rem;
	  padding-right:0.75rem;
	  font-size:0.7rem;
	  color:#a1a1a1;

}
.item .monthly{
	  position:absolute; 
	  left:0.75rem;
	  top:0;
	  height:100%;
	  line-height:1.425rem;
	  padding-right:0.75rem;
	  font-size:0.7rem;
	  color:black;

}
.item .amount{
	  float:left;
	  height:100%;
	  width:85%;
	  border:none;
	  border-radius:0.2rem;
	  background:#e9e9e9;
	  outline:none;
	  text-indent:0.5rem;
	  text-align:right;
	  font-size:0.7rem;
}

