@charset "UTF-8";

* {
  margin: 0;
  padding: 0; }



body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*使用无衬线字体*/ }

a, img {
  -webkit-touch-callout: none;
  /*禁止长按链接与图片弹出菜单*/ }



button,  optgroup, select, textarea {
  -webkit-appearance: none;
  /*去掉webkit默认的表单样式*/ }

a, button,  optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent;
  /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/ }



body {
  -webkit-text-size-adjust: 100% !important;
  /*禁止IOS调整字体大小*/ }

input::-webkit-input-speech-button {
  display: none;
  /*隐藏Android的语音输入按钮*/ }

a {
  text-decoration: none; }


.wrap{
	overflow:scroll;
}



@media  (orientation: portrait){
.nav{
	width:100%;
	background:#1e81d2;
	height:2.2rem;
	position:fixed;
	top:0;
	left:0;
	  z-index:10000;
	   color:white;
	   text-align:center;
	    font-size:0.8rem;
}
}
    @media  (orientation: landscape){  
    	.nav{
			width:100%;
			background:#1e81d2;
			height:1.2rem;
			position:fixed;
			top:0;
			left:0;
			  z-index:10000;
			   color:white;
			   text-align:center;
			    font-size:0.8rem;
   }
}


 @media  (orientation: portrait){

        .bottom_menu{

	  width:100%;
	  height:2.5rem;
	  background:#f0eeef;
	  text-align:center;
	  line-height:2.5rem;
	  position:fixed;
	  bottom:0;
	  left:0;

     }

 }



@media  (orientation: landscape){
.bottom_menu{

	  width:100%;
	  height:1rem;
	  background:#f0eeef;
	  text-align:center;
	  line-height:1rem;
	  position:fixed;
	  bottom:0;
	  left:0;

}
}




@media  (orientation: portrait){

       .bottom_menu a{
			 display:inline-block;
			 width:50%;
			 height:2.5rem;
			 float:left;
			 text-align:center;
			 font-size:0.7rem;
			 line-height:0.9rem;
			 padding-top:0.3rem;
			 color:#1e83d1;

}

}
@media  (orientation: landscape){
.bottom_menu a{
	 display:inline-block;
	 width:50%;
	 height:1rem;
	 float:left;
	 text-align:center;
	 font-size:0.7rem;
	 line-height:0.9rem;
	 padding-top:0.1rem;
	 color:#1e83d1;

}
}


@media  (orientation: portrait){

        .bottom_menu a img{
	    width:0.9rem;
	    height:0.9rem;
}

}

@media  (orientation: landscape){
.bottom_menu a img{
	    width:0.8rem;
	    height:0.8rem;
}
}


@media  (orientation: portrait){
        .nav_title{
	   width:100%;
	   height:2.2rem;
	   margin:0 auto;
	   position:relative;
	   text-align:center;
	   line-height:2.2rem;
	   z-index:1000;

}


}


@media  (orientation: landscape){
.nav_title{
	   width:100%;
	   height:1.2rem;
	   margin:0 auto;
	   position:relative;
	   text-align:center;
	   line-height:1.2rem;
	   z-index:1000;

}
}

@media  (orientation: landscape){
         .nav_title a{ 
				      display:block;
				      height:0.8rem;
				      width:0.8rem;

}

}
.nav_title a{ 
      display:block;
      height:0.8rem;
      width:0.8rem;

}

@media  (orientation: landscape){
       .nav_title a img{
	   height:0.8rem;
	   width:0.8rem;
}



}
.nav_title a img{
	   height:0.8rem;
	   width:0.8rem;
}



@media  (orientation: landscape){

   .back{
	float:left;
	margin-left:0.5rem;

}

}



.back{
	float:left;
	margin-left:0.5rem;

}


@media  (orientation: landscape){

      .user_head{
	  float:right;
	  margin-right:0.5rem;
}

}
.user_head{
	  float:right;
	  margin-right:0.5rem;
}


@media  (orientation: landscape){

       .title_name{
	    width:30%;
        text-align:center;
        height:0.8rem;
        position:absolute;
        text-align:center;
        font-size:0.8rem;
        color:white;
        font-family:"黑体";

}


}
.title_name{
	    width:30%;
        text-align:center;
        height:0.8rem;
        position:absolute;
        text-align:center;
        font-size:0.8rem;
        color:white;
        font-family:"黑体";

}